@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #000;
  --bg-secondary: #131313;
  --gray-700: #3A3A3A;
  --gray-600: #2a2a2a;
  --gray-500: #515151;

  --btn-secondary: #262626;

  --brand-purple: #9e76ff;
  --brand-green: #79C600;
  --brand-pink: #FF71E1;
  --brand-orange: #FF9100;
  --brand-cyan: #08FFD0;
  --brand-yellow: #713f12;
  --brand-lime: #365314;
  --brand-red: #ff2323;

  --white-100: #FBFBFB;
  --white-400: #B8B8B8;

  --border: #484848;

  --bg-success: #3D942099;
  --text-success: #EAF4DB;
  --bg-fail: #AA2F2F;
  --text-fail: #F2CBCB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Rootstock Sans Body';
  src: url('./font/Rootstock-Sans-Body.woff') format('woff');
  font-weight: normal;
}

body {
  background-color: var(--bg-primary);
  color: var(--white-100);
  font-family: 'Rootstock Sans Body', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  border-radius: 20px;
  border: 1px solid #313131;
}

::-webkit-scrollbar-track {
  background: #363636;
  border-radius: 12px;
}